body{
    background-color: black;
    color:azure;
    font-family:Fantasy;
}
.showNumber{
    background-color: aliceblue;
    color: black;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    font-size: 170%;
    display: block;
}
.question{
    font-size: 180%;
}
.inputValue{
    background-color: black;
    color: aliceblue;
    padding: 8%;
}
